@use "sass:selector";

//Colors
$main-background: #121419;
$main-color: #4169e1;
$white: white;
$second-background: rgba(87, 124, 255, 0.1);
$deactive-color: rgba(85, 99, 141, 1);
$green: #37de90;
$background-modal: rgba(18, 20, 25, 0.75);
$background-input: rgba(27, 31, 43, 1);
$red: #ff3657;
$yellow: #ffbd2f;
//Variables
$max-width-contianer: 1200px;
$font-family: "Roboto";
